on post-fs-data
    mkdir /data/ssh 0700 system system
    mkdir /data/ssh/empty 0600 root root

on property:sys.boot_completed=1 && property:persist.sys.sshd.enabled=1
    start sshd
	
on property:persist.sys.sshd.enabled=0
    stop sshd

service sshd /vendor/bin/sshd -D -f /data/ssh/sshd_config
    user root
    group root
    oneshot
    disabled

on property:sys.boot_completed=1 && property:persist.sys.sftpd.enabled=1
    start sftpd
	
on property:persist.sys.sftpd.enabled=0
    stop sftpd

service sftpd /vendor/bin/sshd -D -f /data/ssh/sftpd_config
    user root
    group root
    oneshot
    disabled
